<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
    </head>
<body>
    <header class="header">header</header>
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">footer</footer>
</body>
</html>
